<nav class="navbar navbar-dark bg-success text-light mb-2 p-0">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/tower_30px.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Donjon IDE
  </a>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>

  <footer class="mt-5">
    <hr>
    <span class="text-warning">Donjon IDE ©2018-2020 Jonathan Claes − <a href="https://xax.be" target="_blank">xax.be</a></span>
    / <span class="text-secondary">Icône « tower » : <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a>.</span>
    / <span class="text-danger">Code source disponible sur <a href="https://github.com/zigotteau/donjon" target="_blank">GitHub</a>.</span>
  </footer>
</div>