<div>
  <div class="row">
    <div class="col-auto pr-1">
      <button class="btn btn-sm my-1 py-0 text-monospace"
        [ngClass]="{'btn-outline-secondary': replie, 'btn-outline-primary': !replie}" (click)="replie = !replie">
        {{(replie ? 'montrer' : 'masquer' )}}
      </button>
    </div>

    <div class="col">
      <span *ngIf="regle.evenements?.length" class="evenement">
        {{regle.typeRegle}}
        <span *ngFor="let curEv of regle.evenements; index as i; first as first; last as last">
          <!-- <span *ngIf="!first && !last">, </span> -->
          <b *ngIf="!first"> ou </b>
          <span class="infinitif"> {{(curEv.infinitif ? curEv.infinitif : 'action impliquant')}}</span>
          <span class="objet"> {{curEv.ceci}}</span>
          <span class="preposition"> {{(curEv.preposition ? curEv.preposition : (curEv.cela ? 'et':''))}}</span>
          <span class="objet"> {{curEv.cela}}</span>
        </span>
      </span>

      <span *ngIf="regle.condition" class="condition">
        {{regle.typeRegle}}
        <span class="sujet">
          {{regle.condition.sujet.determinant ? ("["+regle.condition.sujet.determinant.trim()+ "] ")
          :""}}{{regle.condition.sujet.nom}}{{(regle.condition.sujet.epithete ? regle.condition.sujet.epithete :
          '')}}</span>
        <span class="infinitif"> {{regle.condition.verbe}}</span>
        <span class="complement"> {{regle.condition.complement}}</span>
      </span>

    </div>

  </div>


  <div [collapse]="replie" [isAnimated]="true" class="bg-light my-2">
    <ul>
      <li>Type: <b>{{regle.typeRegle}}</b></li>

      <li *ngIf="regle.condition">Condition :
        <ul>
          <li>
            Sujet :{{regle.condition.sujet.determinant ? ("["+regle.condition.sujet.determinant.trim()+ "] ") :
            ""}}{{regle.condition.sujet.nom}}{{(regle.condition.sujet.epithete ? regle.condition.sujet.epithete : '')}}
          </li>
          <li>Verbe : {{regle.condition.verbe}}</li>
          <li *ngIf="regle.condition.complement">Complément : {{regle.condition.complement}}</li>
        </ul>
      </li>

      <li *ngIf="regle.evenements?.length">Événements :
        <ul>
          <li *ngFor="let curEv of regle.evenements; index as i;">
            Événement {{(i+1)}} :
            <ul>
              <li>Infinitif : {{(curEv.infinitif ? curEv.infinitif : 'action impliquant')}}</li>
              <li *ngIf="curEv.ceci">
                Ceci : {{curEv.ceci}} <i>{{(curEv.classeCeci ? '(classe)' : '')}}</i></li>
              <li *ngIf="curEv.preposition">Preposition : {{(curEv.preposition ? curEv.preposition : (curEv.cela ? 'et':''))}}</li>
              <li *ngIf="curEv.cela">Cela : {{curEv.cela}} <i>{{(curEv.classeCela ? '(classe)' : '')}}</i></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Conséquences:
        <ul>
          <li *ngFor="let ins of regle.instructions; index as i">
            Instruction {{(i+1)}} :
            <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>