<div class="grid">
  <div class="r1 max">
    <router-outlet></router-outlet>
  </div>

  <div class="r2">
    <footer class="mt-0 container-fluid">
      <hr class="mb-0 mt-1">
      <p class="mt-n3 mb-0">
        <span class="text-warning">Donjon FI <i>créer</i> v{{version}} ©2018-2022 Jonathan Claes −
          <a href="https://donjon.fi" target="_blank">donjon.fi</a></span> / <span class="text-danger">Code source sur
          <a href="https://github.com/zigotteau/donjon" target="_blank">GitHub</a>.</span>
      </p>
    </footer>
  </div>

</div>