<div>
  <div class="row">
    <div class="col-auto">
      <button class="btn btn-sm btn-outline-secondary my-1 py-0" (click)="replie = !replie">
        {{(replie ? 'afficher' : 'masquer' )}}
      </button>
    </div>

    <div class="col">
      <span *ngIf="regle.evenement" class="evenement">
        {{regle.typeRegle}}
        <span class="infinitif"> {{regle.evenement.infinitif}}</span>
        <span class="objet"> {{regle.evenement.ceci}}</span>
        <span class="preposition"> {{regle.evenement.preposition}}</span>
        <span class="objet"> {{regle.evenement.cela}}</span>
      </span>

      <span *ngIf="regle.condition" class="condition">
        {{regle.typeRegle}}
        <span class="sujet">
          {{regle.condition.sujet.determinant ? ("["+regle.condition.sujet.determinant.trim()+ "] ") : ""}}{{regle.condition.sujet.nom}}{{(regle.condition.sujet.epithete ? regle.condition.sujet.epithete : '')}}</span>
        <span class="infinitif"> {{regle.condition.verbe}}</span>
        <span class="complement"> {{regle.condition.complement}}</span>
      </span>

    </div>

  </div>


  <div [collapse]="replie" [isAnimated]="true" class="bg-light my-2">
    <ul>
      <li>Type: <b>{{regle.typeRegle}}</b></li>

      <li *ngIf="regle.condition">Condition :
        <ul>
          <li>
            Sujet :{{regle.condition.sujet.determinant ? ("["+regle.condition.sujet.determinant.trim()+ "] ") : ""}}{{regle.condition.sujet.nom}}{{(regle.condition.sujet.epithete ? regle.condition.sujet.epithete : '')}}
          </li>
          <li>Verbe : {{regle.condition.verbe}}</li>
          <li *ngIf="regle.condition.complement">Complément : {{regle.condition.complement}}</li>
        </ul>
      </li>

      <li *ngIf="regle.evenement">Évènement :
        <ul>
          <li>Infinitif : {{regle.evenement.infinitif}}</li>
          <li *ngIf="regle.evenement.ceci">Ceci : {{regle.evenement.ceci}}</li>
          <li *ngIf="regle.evenement.cela">Cela : {{regle.evenement.cela}}</li>
        </ul>
      </li>

      <li>Conséquences:
        <ul>
          <li *ngFor="let ins of regle.instructions; index as i">
            Instruction {{(i+1)}} :
            <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>