<div class=" mt-3 mx-3">
  <h1 class="display-4">Le jeu à énigmes en mode texte</h1>
  <p class="lead">Donjon IDE vous permet d’écrire des fictions interactives et d’y jouer.
    <br>Tout est en français.
  </p>

  <div class="row mt-4">
    <!-- Éditeur -->
    <div class="col-md-6 text-danger">
      <h3 class="mb-0">Créer</h3>
      <a class="btn btn-danger mt-1 d-block d-sm-inline-block" routerLink="/editeur" role="button">Éditeur de donjons</a>
    </div>
    <!-- Jouer -->
    <div class="col-md-6 text-success mt-3 mt-md-0">
      <h3 class="mb-0">Jouer</h3>
      <form class="form-inline mt-1">
        <select [(ngModel)]="nomJeu" class="form-control" name="selNomFichier">
          <option [ngValue]="'exemple2'">Le château de la terreur</option>
          <option [ngValue]="'exemple1'">Le nain qui voulait un trésor</option>
        </select>
        <a class="btn btn-success form-control ml-sm-2 mt-2 mt-sm-0" routerLink="/jouer/{{nomJeu}}"
          role="button">Jouer</a>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    <!-- Apprendre à créer -->
    <div class="col-md-6 text-secondary">
      <h3 class="mb-0">Apprendre</h3>
      <a class="btn btn-secondary mt-1 d-block d-sm-inline-block" href="https://wiki.donjon.xax.be" target="_blank" role="button">Wiki Joueur et Écrivain</a>
    </div>
  </div>

</div>