@if (objetPresent) {
  <span>
    <a href="#" (click)="onObjetChoisi(objetPresent)">{{objetPresent.objet.intitule}}</a>
    <i>{{objetPresent.visible ? '':''}}{{objetPresent.cache ? ' (caché)':''}}</i>
    <ul>
      @if (objetsSur.length) {
        <li>Dessus :
          @if (objetsSur.length) {
            <ul>
              @for (objetSur of objetsSur; track objetSur) {
                <li>
                  <app-visu-objet [objetPresent]="objetSur" [eju]="eju" (objetChoisi)="onObjetChoisi($event)"></app-visu-objet>
                </li>
              }
            </ul>
          }
        </li>
      }
      @if (objetsDans.length) {
        <li>Dedans :
          @if (objetsDans.length) {
            <ul>
              @for (objetDans of objetsDans; track objetDans) {
                <li>
                  <app-visu-objet [objetPresent]="objetDans" [eju]="eju" (objetChoisi)="onObjetChoisi($event)"></app-visu-objet>
                </li>
              }
            </ul>
          }
        </li>
      }
      @if (objetsSous.length) {
        <li>Dessous :
          <ul>
            @for (objetSous of objetsSous; track objetSous) {
              <li>
                <app-visu-objet [objetPresent]="objetSous" [eju]="eju" (objetChoisi)="onObjetChoisi($event)"></app-visu-objet>
              </li>
            }
          </ul>
        </li>
      }
    </ul>
  </span>
}
@if (!objetPresent) {
  <span>
    (aucun objet sélectionné)
  </span>
}