<div>

  <div class="row">
    <div class="col-auto pe-1">
      <button class="btn btn-sm my-1 py-0 text-monospace" [ngClass]="{'btn-outline-secondary': replie, 'btn-outline-primary': !replie}"
        (click)="replie = !replie">
        {{(replie ? 'montrer' : 'masquer' )}}
      </button>
    </div>

    <div class="col">
      <span class="infinitif"> {{action.infinitif}}</span>

      @if (action.ceci) {
        <span>
          ceci (<span
          class="objet">{{action.cibleCeci.nom}}@if (action.cibleCeci.epithete) {
          <span class="epithete"> {{action.cibleCeci.epithete}}</span>
        }</span>)
      </span>
    }

    @if (action.cela) {
      <span>
        cela (<span
        class="objet">{{action.cibleCela.nom}}@if (action.cibleCela.epithete) {
        <span class="epithete"> {{action.cibleCela.epithete}}</span>
      }</span>)
    </span>
  }

</div>

</div>

<div [collapse]="replie" [isAnimated]="true" class="bg-light my-2">

  <ul>
    @if (action.cibleCeci && (action.cibleCeci.determinant != 'deux ' && action.cibleCeci.determinant != '2 ')) {
      <li>
        ceci : {{action.cibleCeci.determinant}} {{action.cibleCeci.nom}} <i>{{action.cibleCeci.epithete}}</i>
      </li>
    }
    @if (action.cibleCela && action.cibleCeci.determinant != 'deux ' && action.cibleCeci.determinant != '2 ') {
      <li>
        cela : {{action.cibleCela.determinant}} {{action.cibleCela.nom}} <i>{{action.cibleCela.epithete}}</i>
      </li>
    }
    @if (action.cibleCeci && (action.cibleCeci.determinant == 'deux ' || action.cibleCeci.determinant == '2 ')) {
      <li>
        ceci et cela : {{action.cibleCeci.determinant}} {{action.cibleCeci.nom}} <i>{{action.cibleCela.epithete}}</i>
      </li>
    }
    <li>Phase prérequis : @if (action.phasePrerequis.length == 0) {
      <i>(aucun prérequis)</i>
    }
    <ul>
      @for (ins of action.phasePrerequis; track ins; let i = $index) {
        <li>
          Instruction {{(i+1)}} :
          <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
        </li>
      }
    </ul>
  </li>
  <li>phase exécution :
    <ul>
      @for (ins of action.phaseExecution; track ins; let i = $index) {
        <li>
          Instruction {{(i+1)}} :
          <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
        </li>
      }
    </ul>
  </li>

  <li>phase épilogue : @if (action.phaseEpilogue.length == 0) {
    <i>(aucune instruction)</i>
  }
  @if (action.phaseEpilogue.length != 0) {
    <ul>
      <li>Instructions :
        <ul>
          @for (ins of action.phaseEpilogue; track ins; let i = $index) {
            <li>
              Instruction {{(i+1)}} :
              <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
            </li>
          }
        </ul>
      </li>
    </ul>
  }
</li>
</ul>
</div>


</div>