<!-- resultat -->
<div class="form-group">
    <label for="taResultat"></label>
    <textarea #taResultat readonly class="form-control" name="taResultat" id="taResultat"
        rows="10">{{resultat}}</textarea>
</div>
<!-- entrée utilisateur -->
<div class="input-group mb-3">
    <input #txCommande type="text" [(ngModel)]="commande" (keydown.enter)="onKeyDownEnter($event);"
        (keydown.arrowup)="onKeyDownArrowUp($event);" (keydown.arrowdown)="onKeyDownArrowDown($event);"
        class="form-control" placeholder="Entrez une commande">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" (click)="onKeyDownEnter($event)" type="button"
            id="btExecuter">Enter</button>
        <button class="btn btn-outline-primary" (click)="onKeyDownArrowUp($event)" type="button"
            id="btExecuter">↑</button>
    </div>
    <p class="form-text text-muted">

    </p>
</div>