.subgrid-jouer {
  /* fond de la fenêtre */
  background-color: #59798b;

  /* couleur du texte par défaut en dehors de la sortie du jeu */
  color: #ffffff;
}

.card.sortie-jeu {
  /* couleur du texte par défaut */
  color: #00e1ff;

  /* fond de la sortie du jeu */
  background-color: #59798b;

  /* image de fond */
  background-image: url("./fond_bleu.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;

  /** bordure de la sortie du jeu **/
  border: none;
}

/* texte entre {- -} */
.card.sortie-jeu .t-commande {
  color: #a4e5f5;
}

/* texte entre {+ +} */
.card.sortie-jeu .t-important {
  color: #ffffff;
}

/* invite de commandes */
#txtCommande {
  /* texte de l’invite de commandes */
  color: #ffffff;

  /* fond de l’invite de commandes */
  background-color: #778f9c;

  /* bordure de l’invite de commandes */
  border: 2px solid #ffffff;
}

/* bordure de l’invite de commande (quand sélectionné) */
#txtCommande:focus {
  border: 2px solid #00e1ff;
}

/* astuce dans l’invite de commande */
#txtCommande::placeholder {
  color: #cacaca;
}

/* astuce sous l’invite de commande */
.subgrid-jouer .astuce {
  color: #cacaca;
}

.card.sortie-jeu a {
  /* couleur du texte des liens */
  color: #afafaf;
}

.card.sortie-jeu a:hover {
  /* couleur du texte des liens */
  color: #ffffff;
}
