.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


.subgrid {
  display: grid;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  // background-color: yellow;
}

.rr1 {
  grid-row: 1;
  // background-color: orangered;
  // padding: 5px;
}

.rr2 {
  grid-row: 2;
  // background-color: orange;
  // padding: 5px;
}


.grid-onglet {
  display: grid;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  // background-color: yellow;
}

.ro1 {
  grid-row: 1;
}

.max{
  max-height: 100%;
  overflow: auto;
}