<div class="subgrid">
  <div class="rr1">
    <nav class="navbar navbar-dark bg-success text-light mb-2 p-0">
      <a class="navbar-brand" routerLink="/">
        <img src="./assets/tower_50px.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <!-- Donjon {{jeu && jeu.titre ? (' − ' + jeu.titre):''}} {{(electronActif ? ' (electron)' : '(navigateur)')}} -->
        Donjon {{jeu && jeu.titre ? (' − ' + jeu.titre):''}}
      </a>

      <!-- charger fichier local -->

      <label class="btn btn-secondary btn-file m-1 px-2 py-1 m-1" tooltip="Charger scénario existant" placement="right">
        <i class="fas fa-folder-open"></i><span class="ms-2 d-none d-lg-inline"
          title="Charger un scénario existant">Charger</span><input type="file" accept=".djn,.sol,.txt"
          style="display: none;" (change)="onChargerFichierLocal($event.target)" onclick="this.value=null">
      </label>
    </nav>
  </div>

  <div class="rr2 max" style="height: 100%;">
    <div class="container-fluid max" style="height: 100%;">

      <div class="row max" style="height: 100%">

        <!-- COL 1 : LISTE DES ONGLETS -->
        <div class="col-auto ps-2 pe-0">
          <div class="btn-group-vertical">
            <button class="btn btn-primary px-2" [ngClass]="{'active':(tab == 'scenario') }" (click)="showTab('scenario')"
              title="Scénario" tooltip="Scénario" placement="right">
              <i class="fas fa-fw fa-book fa-lg"></i>
            </button>
            <button class="btn btn-primary px-2" [disabled]="!jeu" [ngClass]="{'active':(tab == 'analyse') }"
              (click)="showTab('analyse')" title="Analyse" tooltip="Analyse" placement="right">
              <i class="fas fa-fw fa-glasses fa-lg"></i>
            </button>
            <button class="btn btn-primary px-2" [disabled]="!jeu" [ngClass]="{'active':(tab == 'jeu') }"
              (click)="showTab('jeu')" title="Jeu" tooltip="Jeu" placement="right">
              <i class="fas fa-fw fa-terminal fa-lg"></i>
            </button>
            <button class="btn btn-primary px-2" [disabled]="!jeu" [ngClass]="{'active':(tab == 'visualisation') }"
              (click)="showTab('visualisation')" title="Visualisation" tooltip="Visualisation" placement="right">
              <i class="fas fa-fw fa-eye fa-lg"></i>
            </button>
            <button class="btn btn-primary px-2" [disabled]="!jeu" [ngClass]="{'active':(tab == 'apercu') }"
              (click)="showTab('apercu')" title="Aperçu" tooltip="Aperçu" placement="right">
              <i class="fas fa-fw fa-sitemap fa-lg"></i>
            </button>

          </div>

          <ng-container *ngIf="tab == 'analyse' && jeu">
            <br>
            <button class="btn btn-secondary mt-4 px-2" [disabled]="!jeu" (click)="showTab('jeu')" title="Jeu" tooltip="Jeu"
              placement="right">
              <i class="fas fa-fw fa-terminal fa-lg"></i>
            </button>
            <br>
            <button class="btn btn-danger mt-4 px-2" [disabled]="!jeu" (click)="showTab('apercu')" title="Aperçu"
              tooltip="Aperçu" placement="right">
              <i class="fas fa-fw fa-sitemap fa-lg"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="tab == 'scenario'">
            <br>
            <!-- analyser -->
            <button class="btn btn-warning mt-4 px-2" (click)="onCompiler()" tooltip="Analyser" placement="right"
              title="Anaylser">
              <i class="fas fa-fw fa-wand-magic-sparkles fa-lg"></i>
            </button>

            <!-- sauvegarder fichier localement -->
            <br>
            <button class="btn btn-danger mt-4 px-2" (click)="onSauvegarderSous()" tooltip="Sauvegarder" placement="right"
              title="Sauvegarder">
              <i class="fas fa-fw fa-save fa-lg"></i>
            </button>

            <!-- wiki -->
            <br>
            <a class="btn btn-primary mt-4 px-2" href="https://donjon.fi/wiki/creer/" target="_blank" tooltip="Wiki"
              placement="right" container="body">
              <i class="fas fa-fw fa-question fa-lg"></i>
            </a>

            <!-- préférences -->
            <br>
            <button class="btn btn-secondary mt-4 px-2" (click)="onChangerAfficherPreferences()"
              tooltip="Préférences" placement="right" title="Préférences">
              <i class="fas fa-fw fa-sliders-h fa-lg"></i>
            </button>

            <!-- sections -->
            <br>
            <!-- <button *ngIf="(allPartiesIntitule?.length || allChapitresIntitule?.length || allScenesIntitule?.length)" -->
            <button *ngIf="false" class="btn btn-secondary mt-3" (click)="afficherSections = !afficherSections" tooltip="Sections"
              placement="right" title="Sections">
              <i class="fas fa-fw fa-thumbtack fa-lg"></i>
            </button>

          </ng-container>

        </div>

        <!-- COL 2 : CONTENU ONGLET -->
        <div class="col pe-2" style="height: 100%;">
          <!-- TAB : Scénario (code source) -->
          <div [style.display]="(tab === 'scenario' ? 'block' : 'none' )" style="height:100%;">
            <div class="grid-scenario">
              <div class="rs1">
                <ng-container *ngIf="afficherPreferences">
                  <div class="row mb-2">
                    <div class="col-auto">
                      <select [(ngModel)]="theme" (change)="onChangerTheme()" class="form-select" name="choixTheme">
                        <option disabled>*** Thèmes clairs ***</option>
                        <option [ngValue]="'chrome'">chrome</option>
                        <option [ngValue]="'crimson_editor'">crimson_editor</option>
                        <option [ngValue]="'katzenmilch'">katzenmilch</option>
                        <option [ngValue]="'solarized_light'">solarized_light</option>
                        <option [ngValue]="'tomorrow'">tomorrow</option>
                        <option disabled>*** Thèmes foncés ***</option>
                        <option [ngValue]="'ambiance'">ambiance</option>
                        <option [ngValue]="'dracula'">dracula</option>
                        <option [ngValue]="'monokai'">monokai</option>
                        <option [ngValue]="'solarized_dark'">solarized_dark</option>
                        <option [ngValue]="'vibrant_ink'">vibrant_ink</option>

                      </select>
                    </div>
                    <div class="col-auto">
                      <select [(ngModel)]="tailleTexte" (change)="onChangerTailleFont()" class="form-select"
                        name="choixNbLignesCodes">
                        <option [ngValue]="13">police 13</option>
                        <option [ngValue]="14">police 14</option>
                        <option [ngValue]="15">police 15</option>
                        <option [ngValue]="16">police 16</option>
                        <option [ngValue]="17">police 17</option>
                        <option [ngValue]="18">police 18</option>
                        <option [ngValue]="19">police 19</option>
                        <option [ngValue]="20">police 20</option>
                        <option [ngValue]="21">police 21</option>
                        <option [ngValue]="22">police 22</option>
                        <option [ngValue]="23">police 23</option>
                        <option [ngValue]="24">police 24</option>
                        <option [ngValue]="25">police 25</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <div class="col-12">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="corrigerSinonSi"
                          (change)="onChangerCorrectionSinonSi()" id="ckCorrigerSinonSi">
                        <label class="form-check-label" for="ckCorrigerSinonSi">Corriger automatiquement « sinon si » en
                          « sinonsi ».</label>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="false" class="row mb-1">
                    <div class="col-12">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="corrigerPoint"
                          (change)="onChangerCorrectionPoint()" id="ckCorrigerPoint">
                        <label class="form-check-label" for="ckCorrigerPoint">Essayer de corriger les « . » et « ; »
                          manquants.</label>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-1">
                    <div class="col-12">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="afficherNumerosLigne"
                          (change)="onChangerAfficherNumerosLigne()" id="ckNumeroLigne">
                        <label class="form-check-label" for="ckNumeroLigne">Afficher les numéros de ligne</label>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-12">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="sansMiseEnForme"
                          (change)="onChangerSansMiseEnForme()" id="ckSansMiseEnForme">
                        <label class="form-check-label" for="ckSansMiseEnForme">Éditeur de scénario sans mise en forme
                          (pour lecteur d'écran).</label>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <!-- VOLUME, PARTIE, CHAPITRE, SCENE -->
                <div *ngIf="false && afficherSections" class="row mb-2">
                  <div *ngIf="allPartiesIntitule?.length" class="col-12 col-md-4  pe-md-1 py-1">
                    <select [(ngModel)]="selPartieIndex" (change)="onChangerSelPartie(false, true)" class="form-select"
                      name="choixPartie">
                      <option [ngValue]="null">(tout le scénario)</option>
                      <ng-container *ngFor="let intitule of allPartiesIntitule; index as i;">
                        <option *ngIf="i != 0 || intitule != '(sans nom)'" [ngValue]="i">
                          Partie « {{intitule}} »
                        </option>
                      </ng-container>
                    </select>
                  </div>

                  <div *ngIf="allChapitresIntitule?.length" class="col-6 col-md-4 px-md-1 py-1 ">
                    <select [(ngModel)]="selChapitreIndex" (change)="onChangerSelChapitre(false ,true)"
                      class="form-select" name="choixChapitre">
                      <option [ngValue]="null">{{(actPartieIndex !== null ? '(toute la partie)':'(tout le scénario)')}}
                      </option>
                      <ng-container *ngFor="let intitule of allChapitresIntitule; index as i;">
                        <option *ngIf="i != 0 || intitule != '(sans nom)'" [ngValue]="i">
                          Chapitre « {{intitule}} »
                        </option>
                      </ng-container>
                    </select>
                  </div>

                  <div *ngIf="allScenesIntitule?.length" class="col-6 col-md-4 ps-md-1 py-1">
                    <select [(ngModel)]="selSceneIndex" (change)="onChangerSelScene(false)" class="form-select"
                      name="choixScene">
                      <option [ngValue]="null">
                        {{(actChapitreIndex !== null ? '(tout le chapitre)':(actPartieIndex !== null ? '(toute la partie)':'(tout le scénario)'))}}
                      </option>
                      <ng-container *ngFor="let intitule of allScenesIntitule; index as i;">
                        <option *ngIf="i != 0 || intitule != '(sans nom)'" [ngValue]="i">
                          Scène « {{intitule}} »
                        </option>
                      </ng-container>
                    </select>
                  </div>

                  <p *ngIf="!allPartiesIntitule?.length && !allChapitresIntitule?.length && !allScenesIntitule?.length"
                    class="font-italic ms-4">
                    (Votre scénario n’est pas découpé en sections)
                  </p>

                </div>
              </div>

              <!-- CODE SOURCE (Scénario) -->
              <div *ngIf="!sansMiseEnForme" class="rs2 max">
                <div class="card max" style="height: 100%;">
                  <ace #codeEditor spellcheck="true" contenteditable [config]="config"
                    [(value)]="sectionCodeSourceVisible" [theme]="theme" (focusout)="onCodeFocusOut()"></ace>
                </div>
              </div>
              <ng-container *ngIf="sansMiseEnForme">
                <div class="rs2 max">
                  <textarea class="card max" style="height: 100%; width: 100%;" spellcheck="true"
                    [(ngModel)]="sectionCodeSourceVisible" (focusout)="onCodeFocusOut()">
                  </textarea>
                </div>
              </ng-container>

            </div>
          </div>


          <!-- TAB: TESTER LE JEU -->
          <div [style.display]="(tab === 'jeu' ? 'block' : 'none' )" class="max" style="height: 100%;">
            <djn-lecteur #lecteur [jeu]="jeu" [verbeux]="false" [debogueur]="true"></djn-lecteur>
          </div>

          <!-- TAB: APERÇU ÉLÉMENTS -->
          <div *ngIf="tab === 'apercu'" class="card">
            <div class="card-body">
              <div *ngIf="compilationTerminee">
                <app-apercu-monde [monde]="monde" [regles]="regles" [actions]="actions" [compteurs]="compteurs"
                  [listes]="listes">
                </app-apercu-monde>
              </div>
            </div>
          </div>

          <!-- TAB: VISUALISATION -->
          <div *ngIf="tab === 'visualisation'" class="card">
            <div class="card-body">
              <div *ngIf="compilationTerminee">
                <app-visualisation [jeu]="jeu">
                </app-visualisation>
              </div>
            </div>
          </div>

          <!-- TAB: ANALYSE -->
          <div [style.display]="(tab === 'analyse' ? 'block' : 'none' )" class="card">
            <div class="card-body">

              <div *ngIf="compilationEnCours">
                <p>Analyse en cours …
                </p>
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <div *ngIf="compilationTerminee">

                <h5>Résultat de l’analyse</h5>

                <ng-container *ngIf="!codeSource || codeSource.trim() == ''">
                  <div>
                    <span class="text-warning">Moi je veux bien mais il n’y a aucun texte à analyser dans votre
                      scénario. 🙄</span><br>
                    <span class="text-primary">Pssst! Il est possible de charger un exemple pour
                      commencer. 😉</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="codeSource && codeSource.trim() != '' && monde">
                  <div class="text-warning" *ngIf="monde.lieux.length == 0">
                    🙄 Je n’ai pas trouvé les lieux à visiter !
                  </div>
                  <div class="text-success" *ngIf="erreurs.length == 0">
                    😀 Super ! Je pense que j’ai tout compris !
                  </div>
                  <div class="text-warning" *ngIf="erreurs.length > 0">
                    😣 Aïe ! Il y a quelque chose qui n'a pas fonctionné. Je n'ai peut-être pas tout compris.
                  </div>
                </ng-container>

                <code class="text-danger">
                  <span *ngFor="let err of erreurs">
                      {{err}}<br>
                  </span>
                </code>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>