@if (!ins.condition && !ins.choix) {
  <ul>
    @if (ins.instruction) {
      <li>Action : {{ins.instruction.infinitif}}</li>
      @if (ins.instruction.sujet) {
        <li>
          <app-apercu-sujet [sujet]="ins.instruction.sujet"></app-apercu-sujet>
        </li>
      }
      @if (ins.instruction.proprieteSujet) {
        <li>
          <app-apercu-propriete-jeu [pro]="ins.instruction.proprieteSujet"></app-apercu-propriete-jeu>
        </li>
      }
      @if (ins.instruction.verbe) {
        <li>Verbe : {{ins.instruction.verbe}}</li>
      }
      @if (ins.instruction.negation) {
        <li>Négation : {{ins.instruction.negation}}</li>
      }
      @if (ins.instruction.preposition1) {
        <li>Préposition : {{ins.instruction.preposition1}}</li>
      }
      @if (ins.instruction.complement1 && !ins.instruction.sujetComplement1) {
        <li>Complément :
        {{ins.instruction.complement1}}</li>
      }
      @if (ins.instruction.sujetComplement1) {
        <li>
          <app-apercu-sujet [sujet]="ins.instruction.sujetComplement1" [titre]="'Complément'"></app-apercu-sujet>
        </li>
      }
    }
    @if (!ins.instruction) {
      <li><i class="text-error">Pas d’instruction</i></li>
    }
  </ul>
}

@if (ins.condition) {
  <ul>
    <li>Condition :
      <app-apercu-condition [condition]="ins.condition"></app-apercu-condition>
    </li>
    <li>Instructions (si condition remplie) :
      <ul>
        @for (ins of ins.instructionsSiConditionVerifiee; track ins; let k = $index) {
          <li>
            Instruction {{(k+1)}} :
            <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
          </li>
        }
      </ul>
    </li>
    @if (ins.instructionsSiConditionPasVerifiee) {
      <li>Instructions (si condition <i>pas</i> remplie) :
      <ul>
        @for (ins of ins.instructionsSiConditionPasVerifiee; track ins; let k = $index) {
          <li>
            Instruction {{(k+1)}} :
            <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
          </li>
        }
      </ul>
    </li>
  }
</ul>
}

@if (ins.choix) {
  <div>
    <ul>
      <li>Action: choisir</li>
      @for (choix of ins.choix; track choix; let i = $index) {
        <li>
          Choix {{i+1}} : @for (valeur of choix.valeurs; track valeur; let j = $index) {
          <span>{{(j > 0 ? ' ou ' : '') + valeur}}</span>
        }
        <ul>
          @for (ins of choix.instructions; track ins; let k = $index) {
            <li>
              Instruction {{(k+1)}} :
              <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
            </li>
          }
        </ul>
      </li>
    }
  </ul>
</div>
}