<div>
  <li>
    Sujet(s) :
    @for (sujet of reaction.sujets; track sujet; let prem = $first; let dern = $last) {
      <span>
        @if (!prem && !dern) {
          <span>, </span>
        }
        @if (!prem && dern) {
          <span> et </span>
        }
        <span class="texte-primary">
          <app-apercu-sujet [titre]="''" [sujet]="sujet"></app-apercu-sujet>
        </span>
      </span>
    }
  </li>

  <ul>
    <li>Instructions:
      <ul>
        @for (ins of reaction.instructions; track ins; let i = $index) {
          <li>
            Instruction {{(i+1)}} :
            <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
          </li>
        }
      </ul>
    </li>
  </ul>
</div>