<div>
  <li>
    Sujet(s) :
    <span *ngFor="let sujet of reaction.sujets; let prem = first; let dern = last;">
      <span *ngIf="!prem && !dern">, </span>
      <span *ngIf="!prem && dern"> et </span>
      <span class="text-primary">
        <app-apercu-sujet [titre]="''" [sujet]="sujet"></app-apercu-sujet>
      </span>
    </span>
  </li>

  <ul>
    <li>Instructions:
      <ul>
        <li *ngFor="let ins of reaction.instructions; index as i">
          Instruction {{(i+1)}} :
          <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
        </li>
      </ul>
    </li>
  </ul>
</div>