RewriteEngine On

# S'il s'agit d'un fichier ou d'un dossier existant
# ou de l'url qui commence par assets : continuer sans rediriger.
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d [OR]
RewriteCond %{REQUEST_URI} ^/v2/beta/assets/
RewriteRule ^ - [L]

# Si la ressource n'existe pas, rediriger vers index.html
RewriteRule ^ /v2/beta/index.html