<!-- resultat -->
<div id="taResultat" #taResultat class="card my-2" [style.height]="'500px'"
  style="width:100%;overflow:auto;background-color:rgb(241, 241, 232); padding:5px;"
  [innerHTML]="sortieJoueur">
</div>
<!-- entrée utilisateur -->
<div class="input-group">
  <input #txCommande type="text" [(ngModel)]="commande" (keydown.enter)="onKeyDownEnter($event);"
    (keydown.tab)="onKeyDownTab($event);" (keydown.arrowup)="onKeyDownArrowUp($event);"
    (keydown.arrowdown)="onKeyDownArrowDown($event);" class="form-control"
    placeholder="Entrez une commande (verbe + complément)">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" (click)="onKeyDownEnter($event)" type="button"
      id="btExecuter">Valider</button>
    <button class="btn btn-outline-primary" (click)="onKeyDownArrowUp($event)" type="button" id="btExecuter">↑</button>
  </div>
</div>
<small class="mt-n2">Tapez « <span class="text-primary">aide</span> » pour afficher les actions les plus courantes.</small>