<h4>{{objetVisible.objet.intitule}}</h4>
<ul>
  <li><b>Nom :</b> {{objetVisible.objet.nom}}</li>
  <li>
    <b>Intitulé : </b>
    @if (objetVisible.objet.intitule.determinant) {
      <span>({{objetVisible.objet.intitule.determinant}})</span>
    }
    {{objetVisible.objet.intitule.nom}}
    @if (objetVisible.objet.intitule.epithete) {
      <span><i>{{objetVisible.objet.intitule.epithete}}</i></span>
    }
  </li>
  <li><b>Type :</b> {{hierachieClasse}}</li>
  <li><b>États :</b> {{listeEtats}}</li>
  <li><b>Genre :</b> {{objetVisible.objet.genre}}</li>
  <li><b>Nombre :</b> {{objetVisible.objet.nombre}}</li>
  <li><b>Quantité :</b> {{objetVisible.objet.quantite}}</li>
</ul>
