/* You can add global styles to this file, and also import other style files */

@import "variables";
// bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
// fontawesome
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

.evenement {
  font-weight: normal;
}

.objet {
  color: $primary;
  .epithete {
    font-style: italic;
  }
}

.preposition {
  color: black;
}

.lieu {
  color: red;
}

.infinitif {
  color: $danger;
  font-style: italic;
}


.sans-serif {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

.serif {
  font-family: Constantia, Times, "Times New Roman", Georgia, serif;
}

.monospace {
  font-family: "Courier New", "FreeMono", "Consolas", "DejaVu Sans Mono", "Fira Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
}

.cursive {
  font-family: "Segoe Script", "Lucida Calligraphy", "Brush Script Std", "Lucida Handwriting", "Apple Chancery", cursive;
}

.fantasy {
  font-family: Luminari, "Copperplate Gothic", Herculanum, Papyrus, Party LET, Curlz MT, Harrington, fantasy;
}
