<ng-container>
  <ul *ngIf="condition.condition">
    <li>
      <app-apercu-sujet [sujet]="condition.condition.sujet"></app-apercu-sujet>
    </li>
    <li>Verbe : {{condition.condition.verbe}}</li>
    <li *ngIf="condition.condition.negation">Négation : {{condition.condition.negation}}</li>
    <li *ngIf="condition.condition.complement && !condition.condition.sujetComplement">Complément : {{condition.condition.complement}}</li>
    <li *ngIf="condition.condition.sujetComplement">
      <app-apercu-sujet [sujet]="condition.condition.sujetComplement" [titre]="'Complément'"></app-apercu-sujet>
    </li>
  </ul>
  <ul *ngIf="condition.sousConditions">
    <li *ngFor="let sousCond of condition.sousConditions">
        <b>{{sousCond.lienFrereAine}}</b>
        <app-apercu-condition [condition]="sousCond"></app-apercu-condition>
    </li>
  </ul>
</ng-container>
