<ng-container>
  <ul>
    <li>
      <app-apercu-sujet [sujet]="condition.sujet"></app-apercu-sujet>
    </li>
    <li>Verbe : {{condition.verbe}}</li>
    <li *ngIf="condition.negation">Négation : {{condition.negation}}</li>
    <li *ngIf="condition.complement && !condition.sujetComplement">Complément : {{condition.complement}}</li>
    <li *ngIf="condition.sujetComplement">
      <app-apercu-sujet [sujet]="condition.sujetComplement" [titre]="'Complément'"></app-apercu-sujet>
    </li>
  </ul>
  <ng-container *ngIf="condition.lien">
    <b>{{condition.lien.typeLien}}</b>
    <app-apercu-condition [condition]="condition.lien"></app-apercu-condition>
  </ng-container>
</ng-container>
