<h2>Éléments du donjon</h2>
<p *ngIf="!monde">Veuillez commencer par interpréter le code.</p>
<div *ngIf="monde">

  <h3>Lieux</h3>
  <p *ngIf="monde.lieux && monde.lieux.length == 0">Aucun lieu trouvé.</p>
  <ul>
    <li *ngFor="let el of monde.lieux">
      <app-apercu-lieu [el]="el" [estLieu]="true"></app-apercu-lieu>
    </li>
  </ul>

  <h3>Portes et obstacles</h3>
  <p *ngIf="monde.portesEtObstacles && monde.portesEtObstacles.length == 0">Aucun obstacle trouvé.</p>
  <ul>
    <li *ngFor="let el of monde.portesEtObstacles">
      <app-apercu-objet [el]="el"></app-apercu-objet>
    </li>
  </ul>

  <h3>Objets, animaux et humains</h3>
  <p *ngIf="monde.classiques && monde.classiques.length == 0">Aucun objet trouvé.</p>
  <ul>
    <li *ngFor="let el of monde.classiques">
      <app-apercu-objet [el]="el"></app-apercu-objet>
    </li>
  </ul>

  <h3>Éléments spéciaux</h3>
  <p *ngIf="monde.speciaux && monde.speciaux.length == 0">Aucun élément spécial trouvé.</p>
  <ul>
    <li *ngFor="let el of monde.speciaux">
      <app-apercu-element-generique [el]="el"></app-apercu-element-generique>
    </li>
  </ul>

</div>


<h2>Compteurs</h2>
<p *ngIf="!compteurs">Veuillez commencer par interpréter le code.</p>

<p *ngIf="compteurs && compteurs.length == 0">Aucun compteur trouvé.</p>
<ul>
  <li *ngFor="let compteur of compteurs">
    <app-apercu-element-generique [el]="compteur"></app-apercu-element-generique>
  </li>
</ul>

<h2>Listes</h2>
<p *ngIf="!listes">Veuillez commencer par interpréter le code.</p>

<p *ngIf="listes && listes.length == 0">Aucune liste trouvée.</p>
<ul>
  <li *ngFor="let liste of listes">
    <app-apercu-element-generique [el]="liste"></app-apercu-element-generique>
  </li>
</ul>

<h2>Règles</h2>
<p *ngIf="!regles">Veuillez commencer par interpréter le code.</p>

<p *ngIf="regles && regles.length == 0">Aucune règle trouvée.</p>
<ul>
  <li *ngFor="let regle of regles">
    <app-apercu-regle [regle]="regle"></app-apercu-regle>
  </li>
</ul>

<h2>Actions</h2>
<p *ngIf="!actions">Veuillez commencer par interpréter le code.</p>
<p *ngIf="actions && actions.length == 0">Aucune action trouvée.</p>
<ul>
  <li *ngFor="let action of actions">
    <app-apercu-action [action]="action"></app-apercu-action>
  </li>
</ul>