

<div class="container-fluid">
  <router-outlet></router-outlet>

  <footer class="mt-2">
    <hr>
    <p class="mt-n3 mb-0">
      <span class="text-warning">Donjon IDE ©2018-2020 Jonathan Claes − <a href="https://xax.be" target="_blank">xax.be</a></span>
      / <span class="text-secondary">Icône « tower » : <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a>.</span>
      / <span class="text-danger">Code source disponible sur <a href="https://github.com/zigotteau/donjon" target="_blank">GitHub</a>.</span>
    </p>
  </footer>
</div>