<div class="grid">
  <div class="r1 max mb-0">
    <router-outlet></router-outlet>
  </div>
  <div class="r2">
    <footer class="container-fluid mt-0" *ngIf="afficherPiedPage">
      <hr class="mb-1 mt-0">
      <p class="mt-n3 mb-0">
        <span class="text-warning">Donjon FI <i>jouer</i> v{{version}} ©2018-2024 Jonathan Claes −
          <a href="https://donjon.fi" target="_blank">donjon.fi</a>
        </span>
        /
        <span class="text-danger">Code source sur
          <a href="https://github.com/zigotteau/donjon" target="_blank">GitHub</a>.
        </span>
      </p>
    </footer>
  </div>
</div>