<div class="row">
  <div class="col-auto">
    <button class="btn btn-sm btn-outline-secondary my-1 py-0" (click)="replie = !replie">
      {{(replie ? 'afficher' : 'masquer' )}}
    </button>
  </div>

  <div class="col">
    {{(el.determinant ? el.determinant : "")}}
    <span class="objet">{{el.nom}}
      <span *ngIf="el.epithete" class="epithete">{{el.epithete}}</span>
    </span>
  </div>
</div>

<div [collapse]="replie" [isAnimated]="true" class="bg-light my-2">

  <ul>
    <li>Classe : {{el.classeIntitule}}</li>
    <li>Genre/nombre/quantité : {{el.genre}}/{{el.nombre}}/{{el.quantite}}</li>
    <li>Propriétés :
      <ul>
        <li *ngIf="el.description">description : {{el.description}}</li>
        <li *ngIf="el.nomS">singulier : {{el.nomS}}</li>
        <li *ngIf="el.nomP">pluriel : {{el.nomP}}</li>
        <li *ngFor="let prop of el.proprietes">{{prop.nom + (prop.valeur ? (' : ' + prop.valeur): '')}}</li>
      </ul>
    </li>
    <li>Attibuts :<span *ngIf="!el.attributs || el.attributs.length == 0"> (aucun)</span>
      <ul *ngIf="el.attributs">
        <li *ngFor="let at of el.attributs">{{at}}</li>
      </ul>
    </li>
    <li>Capacitées :<span *ngIf="!el.capacites || el.capacites.length == 0"> (aucune)</span>
      <ul *ngIf="el.capacites">
        <li *ngFor="let cap of el.capacites">{{cap.verbe + (cap.complement ? (' - ' + cap.complement): '')}}</li>
      </ul>
    </li>
    <li>Position : <span *ngIf="! el.positionString"> ?</span>
      <ul *ngIf="el.positionString">
        <li>sujet : {{el.positionString.sujet}}</li>
        <li>position : {{el.positionString.position}}</li>
        <li>complement : {{el.positionString.complement}}</li>
      </ul>
    </li>
  </ul>

</div>