//changer les couleurs de base de Bootstrap
$primary: #668899; // #443344;
$secondary: #443344; // #CCCCCC;
$warning: #DD8855;
$danger: #AA5555;
$success: #668899;
$min-contrast-ratio: 3.5 !default;

$custom-file-text: (
  en: "Browse",
  fr: "Ouvrir"
);
