/* You can add global styles to this file, and also import other style files */

@import "variables";
// bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
// fontawesome
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

.evenement {
  font-weight: normal;
}

.objet {
  color: $primary;
  .epithete {
    font-style: italic;
  }
}

.preposition {
  color: black;
}

.lieu {
  color: red;
}

.infinitif {
  color: $danger;
  font-style: italic;
}
