<h3>Éléments du donjon</h3>
<p *ngIf="!monde">Veuillez commencer par interpréter le code.</p>
<div *ngIf="monde">

  <h4>Titre</h4>
  <p>{{monde.titre}}</p>

  <h4>Lieux</h4>
  <p *ngIf="monde.lieux && monde.lieux.length == 0">Aucun lieu trouvé.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.lieux">
      <li>
        <app-apercu-element-generique [el]=el></app-apercu-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Portes</h4>
  <p *ngIf="monde.portes && monde.portes.length == 0">Aucune porte trouvée.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.portes">
      <li>
        <app-apercu-element-generique [el]="el"></app-apercu-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Objets, animaux et humains</h4>
  <p *ngIf="monde.classiques && monde.classiques.length == 0">Aucun objet trouvé.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.classiques">
      <li>
        <app-apercu-element-generique [el]="el"></app-apercu-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Éléments spéciaux</h4>
  <p *ngIf="monde.speciaux && monde.speciaux.length == 0">Aucun élément spécial trouvé.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.speciaux">
      <li>
        <app-apercu-element-generique [el]="el"></app-apercu-element-generique>
      </li>
    </ng-template>
  </ul>

</div>

<h3>Règles</h3>
<p *ngIf="!regles">Veuillez commencer par interpréter le code.</p>

<p *ngIf="regles && regles.length == 0">Aucune règle trouvée.</p>
<ul>
  <li *ngFor="let regle of regles">
    <app-apercu-regle [regle]="regle"></app-apercu-regle>
  </li>
</ul>

<h3>Actions</h3>
<p *ngIf="!actions">Veuillez commencer par interpréter le code.</p>
<p *ngIf="actions && actions.length == 0">Aucune action trouvée.</p>
<ul>
  <li *ngFor="let action of actions">
    <app-apercu-action [action]="action"></app-apercu-action>
  </li>
</ul>


