<h3>Règles</h3>
<p *ngIf="!regles">Veuillez commencer par interpréter le code.</p>

<p *ngIf="regles && regles.length == 0">Aucune règle trouvée.</p>
<ul>
  <ng-template ngFor let-re [ngForOf]="regles">
    <app-apercu-regle [regle]="re"></app-apercu-regle>
  </ng-template>
</ul>

<h3>Actions</h3>
<p *ngIf="!actions">Veuillez commencer par interpréter le code.</p>
<p *ngIf="actions && actions.length == 0">Aucune action trouvée.</p>
<ul>
  <ng-template ngFor let-act [ngForOf]="actions">
    <app-apercu-action [action]="act"></app-apercu-action>
  </ng-template>
</ul>


<h3>Éléments du donjon</h3>
<p *ngIf="!monde">Veuillez commencer par interpréter le code.</p>
<div *ngIf="monde">

  <h4>Titre</h4>
  <p>{{monde.titre}}</p>

  <h4>Lieux</h4>
  <p *ngIf="monde.lieux && monde.lieux.length == 0">Aucun lieu trouvé.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.lieux">
      <li>
        <app-apercu-element-generique [el]=el></app-apercu-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Portes</h4>
  <p *ngIf="monde.portes && monde.portes.length == 0">Aucune porte trouvée.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.portes">
      <li>
        <app-apercu-element-generique [el]=el></app-apercu-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Objets, animaux et humains</h4>
  <p *ngIf="monde.objets && monde.objets.length == 0">Aucun objet trouvé.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.objets">
      <li>
        <app-apercu-element-generique [el]=el></app-apercu-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Éléments spéciaux</h4>
  <ul>
    <li>
      Joueur
      <p *ngIf="monde.joueurs && monde.joueurs.length == 0">Aucun joueur trouvé.</p>
      <ul>
        <ng-template ngFor let-el [ngForOf]="monde.joueurs">
          <li>
            <app-apercu-element-generique [el]=el></app-apercu-element-generique>
          </li>
        </ng-template>
      </ul>
    </li>
    <!-- <li>
      Inventaire
      <p *ngIf="monde.inventaires && monde.inventaires.length == 0">Aucun inventaire trouvé.</p>
      <ul>
        <ng-template ngFor let-el [ngForOf]="monde.inventaires">
          <li>
            <app-vue-element-generique [el]=el></app-vue-element-generique>
          </li>
        </ng-template>
      </ul>
    </li> -->
  </ul>

</div>