<h3>Règles</h3>
<p *ngIf="!regles">Veuillez commencer par interpréter le code.</p>

<p *ngIf="regles && regles.length == 0">Aucune règle trouvée.</p>
<ul>
  <ng-template ngFor let-re [ngForOf]="regles">
    <li>
      <ul>
        <li>Type: <b>{{re.typeRegle}}</b></li>
        <li>Condition:
          <ul *ngIf="re.condition">
            <li>
              Sujet :{{re.condition.sujet.determinant ? ("["+re.condition.sujet.determinant.trim()+ "] ") : ""}}{{re.condition.sujet.nom}}{{(re.condition.sujet.epithete ? re.condition.sujet.epithete : '')}}
            </li>
            <li>Verbe : {{re.condition.verbe}}</li>
            <li *ngIf="re.condition.complement">Compl.: {{re.condition.complement}}</li>
          </ul>
        </li>
        <li>Conséquences:
          <ul>
            <li *ngFor="let ins of re.instructions; index as i">
              Instruction {{(i+1)}} :
              <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ng-template>
</ul>

<h3>Actions</h3>
<p *ngIf="!actions">Veuillez commencer par interpréter le code.</p>
<p *ngIf="actions && actions.length == 0">Aucune action trouvée.</p>
<ul>
  <ng-template ngFor let-act [ngForOf]="actions">
    <li>
      <b>{{act.verbe}}</b> {{act.ceci ? 'ceci': ''}} {{act.cela ? 'avec cela': ''}}
      <ul>
        <li *ngIf="act.cibleCeci && act.cibleCeci.determinant != 'deux'">
          ceci : {{act.cibleCeci.determinant}} {{act.cibleCeci.nom}} {{act.cibleCeci.epithete}}
        </li>
        <li *ngIf="act.cibleCela && act.cibleCeci.determinant != 'deux'">
          cela : {{act.cibleCela.determinant}} {{act.cibleCela.nom}} {{act.cibleCela.epithete}}
        </li>
        <li *ngIf="act.cibleCeci && act.cibleCeci.determinant == 'deux'">
          ceci et cela : {{act.cibleCeci.determinant}} {{act.cibleCeci.nom}} {{act.cibleCeci.epithete}}
        </li>
        <li>Refus :
          <ul>
            <li>Verifications :
              <ul>
                <li *ngFor="let ver of act.verifications; index as k">
                  Vérification {{(k+1)}} :
                  <ul>
                    <li>
                      Conditions :
                      <ul>
                        <li *ngFor="let cond of ver.conditions; index as j">
                          Condition {{(j+1)}} :
                          <ul>
                            <li>Sujet :
                              {{cond.sujet.determinant ? ("["+cond.sujet.determinant.trim()+ "] ") : ""}}{{cond.sujet.pronom ? ("["+cond.sujet.pronom.trim()+ "] ") : ""}}{{cond.sujet.nom}}
                            </li>
                            <li>Verbe : {{cond.verbe}}</li>
                            <li *ngIf="cond.negation">Negation : {{cond.negation}}</li>
                            <li *ngIf="cond.complement">Complement : {{cond.complement}}</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      Resultats :
                      <ul>
                        <li *ngFor="let ins of ver.resultats; index as i">
                          Instruction {{(i+1)}} :
                          <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Exécution :
          <ul>
            <li>Instructions :
              <ul>
                <li *ngFor="let ins of act.instructions; index as i">
                  Instruction {{(i+1)}} :
                  <app-apercu-instruction [ins]="ins"></app-apercu-instruction>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>Finalisation :
          <ul>
            <li>Instructions :
              <ul>
                <li *ngFor="let ins of act.instructionsFinales; index as i">
                  Instruction {{(i+1)}} :
                  <ul>
                    <li>Action : {{ins.infinitif}}</li>
                    <li *ngIf="ins.sujet">
                      Sujet :
                      {{ins.sujet.determinant ? ("["+ins.sujet.determinant.trim()+ "] ") : ""}}{{ins.sujet.pronom ? ("["+ins.sujet.pronom.trim()+ "] ") : ""}}{{ins.sujet.nom}}
                    </li>
                    <li *ngIf="ins.verbe">Verbe : {{ins.verbe}}</li>
                    <li *ngIf="ins.complement">Compl : {{ins.complement}}</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ng-template>
</ul>


<h3>Éléments du donjon</h3>
<p *ngIf="!monde">Veuillez commencer par interpréter le code.</p>
<div *ngIf="monde">

  <h4>Titre</h4>
  <p>{{monde.titre}}</p>

  <h4>Salles (lieux)</h4>
  <p *ngIf="monde.salles && monde.salles.length == 0">Aucune salle trouvée.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.salles">
      <li>
        <app-vue-element-generique [el]=el></app-vue-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Portes</h4>
  <p *ngIf="monde.portes && monde.portes.length == 0">Aucune porte trouvée.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.portes">
      <li>
        <app-vue-element-generique [el]=el></app-vue-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Objets, animaux et humains</h4>
  <p *ngIf="monde.objets && monde.objets.length == 0">Aucun objet trouvé.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.objets">
      <li>
        <app-vue-element-generique [el]=el></app-vue-element-generique>
      </li>
    </ng-template>
  </ul>

  <h4>Éléments spéciaux</h4>
  <ul>
    <li>
      Joueur
      <p *ngIf="monde.joueurs && monde.joueurs.length == 0">Aucun joueur trouvé.</p>
      <ul>
        <ng-template ngFor let-el [ngForOf]="monde.joueurs">
          <li>
            <app-vue-element-generique [el]=el></app-vue-element-generique>
          </li>
        </ng-template>
      </ul>
    </li>
    <li>
      Inventaire
      <p *ngIf="monde.inventaires && monde.inventaires.length == 0">Aucun inventaire trouvé.</p>
      <ul>
        <ng-template ngFor let-el [ngForOf]="monde.inventaires">
          <li>
            <app-vue-element-generique [el]=el></app-vue-element-generique>
          </li>
        </ng-template>
      </ul>
    </li>
  </ul>

  <h4>Sans type</h4>
  <p *ngIf="monde.aucuns && monde.aucuns.length == 0">Aucun élément sans type trouvé.</p>
  <ul>
    <ng-template ngFor let-el [ngForOf]="monde.aucuns">
      <li>
        <app-vue-element-generique [el]=el></app-vue-element-generique>
      </li>
    </ng-template>
  </ul>

</div>