<!-- (Nombre de) Propriété élément -->
@if (pro.type == TypeProprieteJeu.proprieteElement || pro.type == TypeProprieteJeu.nombreDeProprieteElement) {
  Propriété : @if (pro.type == TypeProprieteJeu.nombreDeProprieteElement) {
  <span>nombre {{getDe(pro.intituleProprieteElement.nom)}}</span>
  }{{pro.intituleProprieteElement}} → {{pro.intituleElement}}
}

<!-- nombre de Classe (position) -->
@if ((pro.type == TypeProprieteJeu.nombreDeClasseAttributs || pro.type == TypeProprieteJeu.nombreDeClasseAttributsPosition)) {
  Propriété : nombre {{getDe(pro.intituleClasse) + pro.intituleClasse}} @if (pro.nomsEtats?.length > 0) {
  <i> {{pro.nomsEtats[0]}}@if (pro.nomsEtats.length > 1) {
    <span> et {{pro.nomsEtats[1]}}</span>
  }</i>
}
@if (pro.type == TypeProprieteJeu.nombreDeClasseAttributsPosition) {
  <span>
    {{getPrepositionSpatiale(pro.prepositionSpatiale)}} {{pro.intituleElement}}
  </span>
}
}